<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="serverName" source="HOSTNAME"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{ISO8601} %highlight(%-5level) [${HOSTNAME}] [%blue(%t)] %X{requestId} %X{tenantId} %yellow(%C{1.}) -> %M\(%line\): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <root level="info" >
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
